@using ProiectIP.Models
@section content {
    <div style="display:block;margin:auto;width:50%">
        <h2>ShowRecommendations</h2>

        <ul>
            @foreach (Place place in ViewBag.PlacesView)
            {
                <li>
                    <h4>@place.PlaceId</h4>
                    <div id="@place.PlaceId"></div>
                    <script>getDetails('@place.PlaceId');</script>
                </li>
            }
        </ul>
    </div>

    <script>
        function getDetails(placeId) {
            var request = {
                placeId: placeId,
                fields: ['name', 'formatted_address', 'geometry']
            };

            service.getDetails(request, function (place, status) {
                //if (status === google.maps.places.PlacesServiceStatus.OK) {

                    document.getElementById(placeId).innerHTML = "<br /><p>" + place.name + "</p><br /><p> + " + place.formatted_address + "</p><br /><p>" + place.geometry + "</p><br />";
           
                //}
            }
        }

    </script>
}